services:
  php:
    image: php:8.3-apache
    working_dir: /var/www/html
    volumes:
      - ./backend:/var/www/html
    ports:
      - 8080:80

  database:
    image: postgres:alpine
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=app
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: {}
